<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>

<body>
    <header>

        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </div>

        <section>
            <label>Lugar para poner la barra de búsqueda</label>
        </section>

        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>

        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>

    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" alt="Banner">
        </section>
        <section class="ultima-visita">
            <h2>Sección: Basado en tu última visita</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                </div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                </div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                </div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section class="Ofertas">
            <h2>Sección: Ofertas</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                </div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                </div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                </div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>